heat_template_version: 2013-05-23

description: |
  Configures a cloud server with chef-solo

parameters:
  keypair_name:
    type: String
    required: true

  stack_id:
    type: String
    required: true
    default: "heat"

  mysql_server_flavor:
    type: String
    required: true
    default: "2"

  mysql_server_name:
    type: String
    required: true
    default: "mysql_server"

  mysql_root_password:
    type: String
    required: true
    default: "verybadpass123"

  database_name:
    type: String
    default: "app_db"

  database_username:
    type: String
    required: true
    default: "wordpress"

  database_password:
    type: String
    required: true
    default: "verybadpass123"

resources:
    ssh_key:
        type: "OS::Nova::KeyPair"
        properties:
            name: {get_param: keypair_name}
            save_private_key: true

    mysql_servers:
        type: OS::Heat::ResourceGroup
        properties:
            count: 2
            resource_def:
                type: https://raw.github.com/heat-ci/heat-templates/master/dev/chef_mysql_single.template
                properties:
                    stack_id: {get_param: stack_id}
                    #ssh key props
                    keypair_name: {get_param: keypair_name}
                    private_key: {get_attr: [ssh_key, private_key]}
                    #database props
                    mysql_server_flavor: {get_param: mysql_server_flavor}
                    mysql_server_name: {get_param: mysql_server_name}
                    mysql_root_password: {get_param: mysql_root_password}
                    database_name: {get_param: database_name}
                    database_username: {get_param: database_username}
                    database_password: {get_param: database_password}
outputs:
    public_ips:
        value: {get_attr: [mysql_servers, resource.PublicIp]}
    private_ips:
        value: {get_attr: [mysql_servers, resource.PrivateIp]}