heat_template_version: 2013-05-23

description: |
  Configures a cloud server with chef-solo

parameters:
  key_name:
    type: string

  stack_id:
    type: string
    default: "webapp_wordpress"

  mysql_server_flavor:
    type: string
    default: "performance1-1"

  mysql_server_name:
    type: string
    default: "mysql_server"

  mysql_root_password:
    type: string
    default: "verybadpass123"

  database_name:
    type: string
    default: "wordpress_db"

  database_username:
    type: string
    default: "wordpres_admin"

  database_password:
    type: string
    default: "verybadpass123"

  #WORDPRESS parameters
  wordpress_flavor:
    type: string
    default: "performance1-1"

  wordpress_server_name:
    type: string
    default: "wordpress_server"

  wordpress_database_username:
    type: string
    default: "wp_dbuser"

  wordpress_database_password:
    type: string
    default: "verybadpass123"

  wordpress_username:
    type: string
    default: wordpress_admin

  wordpress_password:
    type: string
    default: "verybadpass123"

  prefix:
    type: string
    default: wp

  version:
    type: string
    default: 3.6.1

  public_sync_key:
    type: string
    description: the key to be used by lsyncd clients
    default: "public_sync_key"

  private_sync_key:
    type: string
    description: the key to be used by the lsyncd server
    default: "private_sync_key"

  ssl_private_key:
    type: string
    default: "ssl_private_key"

  ssl_certificate:
    type: string
    default: "ssl_certificate"

  ssl_intermediate_key:
    type: string
    default: "ssl_intermediate_key"

  wp_auth:
    type: string
    default: "wp_auth"

  wp_logged_in:
    type: string
    default: "wp_logged_in"

  wp_nonce:
    type: string
    default: "wp_nonce"

  wp_secure_auth:
    type: string
    default: "wp_secure_auth"

resources:
    ssh_key:
        type: "OS::Nova::KeyPair"
        properties:
            name: {get_param: key_name}
            save_private_key: true

    mysql_server:
        type: "http://localhost:8000/chef_mysql.template"
        properties:
            stack_id: {get_param: stack_id}
            mysql_server_name: {get_param: mysql_server_name}
            mysql_server_flavor: {get_param: mysql_server_flavor}
            mysql_root_password: {get_param: mysql_root_password}
            database_name: {get_param: database_name}
            key_name: {get_param: key_name}
            private_key: {get_attr: [ssh_key, private_key]}
            public_key: {get_attr: [ssh_key, public_key]}

wordpress_master:
    type: "http://localhost:8000/chef_wordpress_master.template"
    properties:
        stack_id: {get_param: stack_id}
        key_name: {get_param: key_name}
        private_key: {get_attr: [ssy_key, private_key]}
        public_key: {get_attr: [ssh_key, public_key]}
        wordpress_flavor: {get_param: wordpress_flavor}
        wordpress_server_name: {get_param: wordpress_server_name}
        wordpress_database_username: {get_param: wordpress_database_username}
        wordpress_database_password: {get_param: wordpress_database_password}
        wordpress_username: {get_param: wordpress_username}
        wordpress_password: {get_param: wordpress_password}
        prefix: {get_param: prefix}
        version: {get_param: version}
        public_sync_key: {get_param: public_sync_key}
        private_sync_key: {get_param: private_sync_key}
        ssl_private_key: {get_param: ssl_private_key}
        ssl_certificate: {get_param: ssl_certificate}
        ssl_intermediate_key: {get_param: ssl_intermediate_key}
        wp_auth: {get_param: wp_auth}
        wp_logged_in: {get_param: wp_logged_in}
        wp_nonce: {get_param: wp_nonce}
        wp_secure_auth: {get_param: wp_secure_auth}

outputs:
    private_key:
        value: { get_attr: [ssh_key, private_key] }
    public_key:
        value: { get_attr: [ssh_key, public_key] }
    key_name:
        value: {get_param: key_name}
