heat_template_version: 2013-05-23

description: |
  My first Heat template

resources:

  access_key:
    type: OS::Nova::KeyPair
    properties:
      name: workshop_key_2
      save_private_key: true

  my_lb:
    type: Rackspace::Cloud::LoadBalancer
    properties:
      name: workshop_lb
      protocol: HTTP
      port: 80
      algorithm: ROUND_ROBIN
      nodes:
      - addresses:
        - { get_attr: [ my_server_1, accessIPv4 ] }
        - { get_attr: [ my_server_2, accessIPv4 ] }
        port: 80
        condition: ENABLED
      virtualIps:
      - type: PUBLIC
        ipVersion: IPV4

  my_server_1:
    type: Rackspace::Cloud::Server
    properties:
      name: rtb-heat-workshop
      image: 2936a16d-ee01-452c-a6ab-7117df5196f8  # Ubuntu 13.10 (Saucy Salamander)
      flavor: 1 GB Performance
      key_name: { get_resource: access_key }

  my_server_2:
    type: Rackspace::Cloud::Server
    properties:
      name: rtb-heat-workshop
      image: 2936a16d-ee01-452c-a6ab-7117df5196f8  # Ubuntu 13.10 (Saucy Salamander)
      flavor: 1 GB Performance
      key_name: { get_resource: access_key }

outputs:

  "Server 1 ID":
    value: { get_resource: my_server_1 }
    description: The first server id
  "Server 2 ID":
    value: { get_resource: my_server_2 }
    description: The second server id

  "Server 1 IP":
    value: { get_att: [ my_server_1, accessIPv4 ] }
    description: The first server IP address

  "Server 2 IP":
    value: { get_att: [ my_server_2, accessIPv4 ] }
    description: The second server IP address

  "Access Private Key":
    value: { get_att: [ access_key, private_key ] }
    description: SSH access private key
