heat_template_version: 2013-05-23

description: |
  A template implementation of a resource that provides a hello world application server

parameters:

  image_id:
    type: string
    description: Server image id to use

  flavor:
    description: Rackspace Cloud Server flavor
    type: string
    default: 1GB Standard Instance
    constraints:
    - allowed_values:
      - 512MB Standard Instance
      - 1GB Standard Instance
      - 2GB Standard Instance
      - 4GB Standard Instance
      - 8GB Standard Instance
      - 15GB Standard Instance
      - 30GB Standard Instance
      description: must be a valid Rackspace Cloud Server flavor.

  server_name:
    description: the instance name
    type: string
    default: Hello world application

  key_name:
    description: Nova keypair name for ssh access to the server
    type: string
    required: true


resources:

  hello_world:
    type: "Rackspace::Cloud::Server"
    properties:
      flavor: { get_param: flavor }
      image: { get_param: image_id }
      name: { get_param: server_name }
      key_name: { get_param: key_name }
      user_data:
        str_replace:
          template: |
            #!/bin/bash -v
            echo "hello world" > /root/hello-world.txt

outputs:
  public_ip:
    value: { get_attr: [ hello_world, accessIPv4 ] }
    description: The public ip address of the server
