heat_template_version: 2013-05-23

description: |
  Test SWIFT fix

resources:

  object_store:
    type: OS::Swift::Container
    properties:
      name: rtb-test-container
      X-Account-Meta:
        email: "rs-heat@lists.rackspace.com"
        author: Austin Heat Team
      X-Container-Meta:
        email: "rs-heat@lists.rackspace.com"
        irc: "#rs-heat on irc.intra.rackspace.corp"

outputs:

  "Swift Container ID":
    value: { get_resource: object_store }
    description: Swift Container ID